@charset "UTF-8";

/* font-family: 'Orbitron', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Orbitron:400,900');

/* layout */
#header {height: 327px; background: url(../img/header_bg.jpg) repeat-x center top;}

/* container */
.container {width: 1200px; margin: 0 auto;}

/* quick */
.quick {text-align: right;}
.quick a {color: #fff; padding: 4px 0 4px 10px; display: inline-block; transition: color 0.3s ease;}
.quick a:hover {color: #ccc;}

/* title */
.title {text-align: center; text-transform: uppercase; margin-top: 70px; font-family: 'Orbitron', sans-serif;}
.title p {font-size: 27px; color: #fff; background-color: #51b0dc; display: inline-block; padding: 14px 20px 10px 20px; font-weight: 900;}
.title h1 a {
    color: #fff; background-color: #4a9abf; padding: 14px 20px 10px 20px; display: inline-block; 
    font-size: 14px; font-weight: 400; margin-top: -7px; transition: box-shadow 0.3s ease;
}
.title h1 a:hover {
    box-shadow: 
        0 0 0 3px rgba(75,154,191,0.9) inset,
        0 0 0 100px rgba(0,0,0,0.1) inset;
}

/* icon */
.icon {text-align: center; margin-top: 50px;}
.icon li {display: inline; margin: 0 2px;}
.icon li a {
    position: relative; display: inline-block; width: 66px; height: 66px;
    background-color: #3192bf; color: #fff; font-size: 35px; border-radius: 50%; transition: all 0.3s ease;
}
.icon li a i {line-height: 66px;}
.icon li a span {
    position: absolute; left: 50%; top: -40px; transform: translateX(-50%); font-size: 11px; background-color: #3192bf;
    padding: 3px 3px; border-radius: 6px 0; opacity: 0; transition: all 0.3s ease-in-out;
}
.icon li a span:before { /* 아래쪽 삼각형 만들기 */
    content: ''; position: absolute; left: 50%; bottom: -5px; margin-left: -5px;
    border-top: 5px solid #3192bf;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}
.icon li a:hover span {opacity: 1; top: -30px;}
.icon li a:hover {
    box-shadow: 
    0 0 0 3px rgba(75,154,191,0.9) inset,
    0 0 0 100px rgba(0,0,0,0.1) inset;
    color: #000;
}
.ie8 .icon li a span {display: none;} /* ie8 버전에서는 툴팁박스인 span을 제거 */

/* media query 320 / 480 / 600 / 768 / 960 / 1024 / 1280 */
@media (max-width: 1280px){
    .container {width: 100%;}
}

@media (max-width: 1024px){

}

@media (max-width: 960px){
    
}

@media (max-width: 768px){
    
}

@media (max-width: 600px){
    
}

@media (max-width: 480px){
    
}

@media (max-width: 320px){
    
}