@charset "UTF-8";

/* layout */
#header {height: 327px; background: url(../img/header_bg.jpg) repeat-x center top;}

/* container */
.container {width: 1200px; margin: 0 auto; background-color: rgba(0,0,0,0.2);}

/* quick */
.quick {text-align: right;}
.quick a {color: #fff; padding: 4px 0 4px 10px; display: inline-block; transition: color 0.3s ease;}
.quick a:hover {color: #ccc;}

/* media query 320 / 480 / 600 / 768 / 960 / 1024 / 1280 */
@media (max-width: 1280px){
    .container {width: 100%;}
}

@media (max-width: 1024px){

}

@media (max-width: 960px){
    
}

@media (max-width: 768px){
    
}

@media (max-width: 600px){
    
}

@media (max-width: 480px){
    
}

@media (max-width: 320px){
    
}